

body{outline-style: dashed;
width: 1356px;
height:565px;}

.box1{background-color: white; 
    height: 100px;
     width: 100px;
    outline-style: double;
    top: 300px;
position: absolute;}

#box2{background-color: white;
     height: 100px;
      width: 100px;
    position: absolute;
     top: 180px;
    outline-style: dashed;
    left: 20px;
}

#box3{background-color:white;
     height: 100px;
      width: 150px;
       position: absolute;
      outline-style: outset;
       padding: 20px;
       margin: 20px;
       left: 0;
       text-align: center;
       top: 10px;
       border-top: 10px;
       border-radius: 100px;

 animation-name: animacao3;
 animation-duration: 3s;
}

@keyframes animacao3{
    from{left:0px;}
    to{left: 1500px;}
    
}
@keyframes

